/* ABOUT PAGE*/

.hero-about-title {
    font-size: 4.5rem;
    font-weight: 300;
    color: #050A3A;
    margin-bottom: 20px;
    line-height: 1.2;
    padding-left: 160px;
}


.about-description {
    color: #8A8A8A;
    margin-right: 27.1rem;
}

.hero-image {
    width: 100%;
    overflow: hidden;
}
.hero-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1458 / 619;
    display: block;
}

.hero-team-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 75px;
}

.teammate {
    display: flex;
    flex-direction: column;
}

.teammate p {
    color:gray;
}

.teammate h1 {
    color: #050A3A;
    font-weight: 400;
}
