/* Footer */

.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #050A3A;
    color: white;
}

.footer-left {
    flex: 1;
    display: flex;
    justify-content: end;
}

.footer-right {
    display: flex;
    justify-content: end;
    margin-right: 100px;
}
.footer-left-end {
    display: flex;
    flex-direction: column;
}
.footer-contact{
    display: flex;
}

.contact-section {
    margin-bottom: 20px;
    margin-right: 100px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4facfe;
}

